.vscode/
.DS_Store

*.pyc
__pycache__/

.pytest_cache/
htmlcov/

dist/
build/
instance/
data/
*.egg-info/

*.pickle

aws_web_app/venv/
*.zip

core/ai_coach_core/tests/*_trajectories
core/ai_coach_core/tests/*_data
misc/IQL_test/output/

*.png
*.log
*.csv
*.orig
*.mp4

aws_data*
data_old/
logs/
buffers/
weights/
node_modules/
package-lock.json
.eslintrc.json
package.json

