.vscode/

*.pyc
__pycache__/

.pytest_cache/
htmlcov/

dist/
build/
instance/
data/
*.egg-info/

*.pickle

aws_web_app/venv/
*.zip

core/ai_coach_core/tests/*_trajectories
core/ai_coach_core/tests/*_data

*.png
*.log
*.csv

domains/tests/aws_data*
domains/tests/data_old/
