.vscode/
.DS_Store

*.pyc
__pycache__/

.pytest_cache/
htmlcov/

dist/
build/
instance/
data/
*.egg-info/

*.pickle

aws_web_app/venv/
*.zip

tests/*_trajectories
tests/*_data
output/
human_data/
result*/
experts/
outputs/
profile*
wandb/
venv/

*.png
*.log
*.csv
*.orig
*.mp4

aws_data*
data_old/
logs/
buffers/
weights/
node_modules/
package-lock.json
.eslintrc.json
package.json

